// add rule overrides as needed
{
  "extends": "airbnb",
  "rules": {
    "no-console": 0,
    "strict": 0,
    "object-curly-spacing": 0,
    "object-shorthand": 0,
    "new-cap": [2, {
      "capIsNewExceptions": ["express.Router"]
    }]
  }
}
