{
  "extends": "airbnb-base",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "new-cap": [
      "error",
      {
        "capIsNewExceptions": ["express.Router"]
      }
    ],
    "object-shorthand": 0
  }
}
