// add rule overrides as needed
{
  "extends": "airbnb-base",
  "rules": {
    "max-len": [2, 120, 4],
    "new-cap": [2, {
      "capIsNewExceptions": ["express.Router"]
    }],
    "object-shorthand": 0,
  }
}
